.setup-card {
  width: 90%;
  max-width: 56rem;
  margin: 4rem auto;
  min-height: calc(100vh - 12rem);
  text-align: center;
  overflow: auto;
  padding: 3rem 2rem;
}

.setup-content {
  width: 100%;
}

.setup-content h2 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.025em;
}
