.login-card {
    width: 90%;
    margin: 10rem auto;
    height: 15rem;
    text-align: center;
    max-width: 50rem;
    
  }
  
  .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }
  
  .login-content h2 {
      color: white;
      font-size: 1.875rem;
  }